RewriteEngine On

# Redireciona a raiz para a página personalizada
RewriteRule ^$ /clinica-ABA-especializada-em-TEA.html [L]

# Permite acessar a URL amigável (sem .html)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [L]

# Página inicial padrão
DirectoryIndex clinica-ABA-especializada-em-TEA.html
